---
export interface Props {
  title: string;
  company: string;
  startDate: string;
  endDate?: string;
  location: string;
  technologies: string[];
  references?: {
    name: string;
    url: string;
  }[];
}
const {
  title,
  company,
  startDate,
  endDate,
  location,
  technologies,
  references,
} = Astro.props;
---

<h3>{title}</h3>
<ul>
  <li>
    {startDate}
    {endDate && `- ${endDate}`}
    <li><b>{company}</b> in {location}</li>
    <li class="smaller">{technologies.sort().join(", ")}</li>
  </li>
  <slot />
  <p>
    <ul class="smaller">
      {
        references?.map((reference) => (
          <li>
            <a href={reference.url}>{reference.name}</a>
          </li>
        ))
      }
    </ul>
  </p>
  <style>
    h3 {
      margin-bottom: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
    }
    .smaller{
      font-size: 0.8em;
    }
  </style>
</ul>
